.admin-dashboard {
    width: 60%;
    margin: 3% auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 7%;
}

.admin-dashboard h1 {
    font-size: 2rem;
    padding: 1% 3%;
    margin: 2px 10%;
}

.admin-dashboard p {
    font-size: 1.2rem;
    padding: 1% 3%;
    width: 50%;
    text-align: center;
    margin: 0.5% auto;
    margin-bottom: 3%;
}

.admin-dashboard a {
    text-decoration: none;
    border-radius: 30px;
    width: 50%;
    display: inline-block;
    text-align: center;
    padding: 3% 5%;
    margin: 1.5%;
    background-color: #787878;
    color: #FFFFFE;
}