.manage {
    width: 90%;
    margin: 2% auto;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.manage a  {
    color: #FFFFFE;
    display: inline-block;
    background-color: #2CB67D;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 50%;
    margin: 10px auto;
}

.search input, .search button  {
    height: 100%;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 25px;
    margin: 3px;
    background-color: #16161A;
    border: 2px solid #2CB67D;
    color: #FFFFFE;
    font-size: 1rem;
}

.search input {
    width: 60%;
}

.search input:focus {
    outline: none;
}

.search button {
    cursor: pointer;
}

.search button:hover {
    background-color: #2CB67D;
}

.filter {
    margin-bottom: 30px;
}

.filter h3 {
    width: 100%;
    margin-top: 10px;
    padding: 10px 3%;
}

.filters {
    width: 40%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 30px;
}

.filters select, .filters button {
    display: inline-block;
    color: #FFFFFE;
    padding: 5px;
    background-color: #16161A;
    border: 2px solid #2CB67D;
    margin-top: 5px;
}

.filters button:hover {
    background-color: #2CB67D;
}